# Wave API Keys
WAVE_CLIENT_KEY=wave_sn_prod_Uie-B8ZWN8odvVDqUJYTAiBRCu09sM07Yqur_DtW-2Bb7JRFiOUCxnbAOEfjvB-FKnYiA9TRNdTPwBk2tKuCkzlb8EtdIyAhlw
WAVE_SECRET_KEY=wave_sn_AKS_nc0mfgagnvr9jfm5c9khfhhv3sj31h552g8bhv08a7sahqbs1570
WAVE_WEBHOOK_SECRET=wave_sn_AKS_nc0mfgagnvr9jfm5c9khfhhv3sj31h552g8bhv08a7sahqbs1570
